@font-face {
  font-family: 'Tanseek';
  src: url('./assets/font/tanseek/tanseek-modern-pro-arabic-webfont.woff2') format('woff2'),
       url('./assets/font/tanseek/tanseek-modern-pro-arabic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Riffic';
  src: url('./assets/font/riffic/rifficfree-bold-webfont.woff2') format('woff2'),
       url('./assets/font/riffic/rifficfree-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  margin-left: 1em;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  left:0;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.header h1 {
  font-size: 3.2em;
  font-family: 'Riffic';
  -webkit-text-stroke: 2px ;
  -webkit-text-stroke-color: #1a1a1a;
  display: inline-block;
  margin: 0 ;
  margin-top: 0.9em;
  color:white;

}

.category h2 {
  -webkit-text-stroke: 1.8px ;
  -webkit-text-stroke-color: #1a1a1a;
  font-size: 2.5em;
  font-family: 'Riffic';
  color:white;
}

.category-nav h2 {
  -webkit-text-stroke: 1.8px ;
  -webkit-text-stroke-color: #1a1a1a;
  font-size: 2.5em;
  font-family: 'Riffic';
  color:white;
}

.darkmode {
  background-color: black;
  transition: background-color 0.5s ease ;
}

#btn-information{
  border: 0;
  position: fixed;
  border-radius: 100%;
  right: 20px;
  font-size: 25px;
  margin-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #feb6d2;
  color: white;
  transition: background-color 0.5s ease ;
}

#btn-information:hover{
  cursor: pointer;  
  background-color: #6e1a4a;

}

.darkmode #btn-information{
  background-color: #af0043;

}

.darkmode #btn-information:hover{
  background-color: #6e1a4a;
}

#btn-darkmode{
  border: 0;
  width: 29px;
  position: fixed;
  border-radius: 50%;
  right: 60px;
  font-size: 25px;
  margin-top: 20px;
  padding: 2px;
  background-color: #feb6d2;
  transition: background-color 0.5s ease ;

}

#btn-darkmode:hover{
  cursor: pointer;  
  background-color: #6e1a4a;

}

.darkmode #btn-darkmode{
  background-color: #af0043;
}

.darkmode #btn-darkmode:hover{
  background-color: #6e1a4a;
}


.burger-btn span{
  display:block;
  width: 35px;
  height: 5px;
  background-color: #feb6d2;
  margin: 6px 0;
  transition: background-color 0.5s ease;
  
}

.burger-btn:hover span{
  background-color: #6e1a4a;
}

.burger-btn {
  width: 35px;
  position: fixed;
  top: 20px;
  left: 21px;
  padding:0;
  z-index: 2;
}

.burger-btn:hover{
  cursor: pointer;

}

.darkmode .burger-btn span {
  background-color: #af0043;
  transition: background-color 0.5s ease;
}

.darkmode .burger-btn:hover span{
  background-color: #6e1a4a;
}

.category h2 {
  padding: 15px;
  padding-top: 25px;
  margin-bottom: 0;
  color:white;
}

.category-nav h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0px;
  padding-left: 20px;
  color:white;
}

.category {
  
  width: 65%;  
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f8126a20;
  border-radius: 1%;
  justify-content: center;
}

.category-nav {
  margin-top: 70px;
  border-top-style: solid;
  border-top-color: #f7b7f775;
  top: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  font-size: 25px;
  font-family: 'Riffic';
  z-index: 1;
  left: -280px;
  background-color: #fee1ec;


}

.category-nav * {
  bottom: 10px;
}


.body-navActive{
  overflow: hidden;
}

.nav-overlay  .active{
  margin-left: 274px;
  width: 100%;
  background-color: #fee1ec59;
  z-index: 0;
}

.darkmode .nav-overlay  .active{
  margin-left: 274px;
  width: 100%;
  background-color: #fee1ec59;
  z-index: 0;
  
}

.active *{
  left: 0px;
  z-index: 1;
  background-color: #fee1ec;

}

.darkmode .active *{
  background-color: #650027;
  border-top-color: #4d0f27;

}

.active{
  
  top: 0px;
  left: 0px;
  padding-top: 50px;
  background-color: #fee1ec;
  text-align: left;
  margin-right: 2rem;
  height: 100%;
  width: 274px;
  position: fixed;
  z-index: 1;
}



.darkmode .nav-menu{
  opacity: 0;
  background-color: #650027;

}

.darkmode .active{
  opacity: 100%;
  background-color: #650027;
}

.category-nav ul:hover a{
  color: #af0043 ;

}

.category-nav ul li{
  list-style-type: none;
}

.category-nav ul:hover{
  cursor: pointer;
}


.header{
  display: flex;
  flex-direction:row;
  justify-content: center;

  width: auto;
  height: auto;
}



#mainPage-div{
  padding-bottom: 26%;
  background-image: url('./assets/img/IRySbg2.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  transition: background-color 0.5s ease ;

}



.modal-overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a4d;
  position: fixed;
  z-index: 3;
}

.close {
  height: 30px;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #d3a7d3;
  border-color: #ecd3ec;
  color: white;
  box-shadow: none;
  border:0;
  font-size: 23px;
  position: relative;
}

.close:hover {
  cursor: pointer;
  background-color: #a778a7;

}

.modal-header{
  display:flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #e7a3e757;
}

.modal-header h1{
  margin: 0;
  padding: 0 !important;
  flex-grow: 2;
}

.modal{
  border-radius: 1%;
  background-color: #ecd3ec;
  color:black;
  height: auto;
  width: 900px;
  max-width: 90%;
  max-height: 80%;
  text-align: left;
  padding: 20px;
  border: 0px;
  margin: 40px;
  overflow: auto;
  position: relative;
}

.modal-body{
  display: flex;
  height: auto;
  flex-direction: column;
}

.modal-body *{
  margin:0;
}

.modal-body a{
  color:#000dff;
  margin:0;
}

nav ul {
  margin: 3%;
  padding-left: 1rem;
}

nav li {
  
  -webkit-text-stroke: 1.6px ;
  -webkit-text-stroke-color: #1a1a1a;
  padding-bottom: 4px;
  color:white;
}

nav li a {
  color: inherit;
  cursor: pointer;
  padding-right: 1rem;

}

.category button {
  filter: drop-shadow(0 0 0.2em #af0043);
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 0.6em;
  padding: 0.3em 0.8em;
  font-size: 1.6em;
  font-family: 'Tanseek';
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.2s;
  flex-direction: row;
  z-index: 0;

  color: #ffffff;
  background-color: #af0043;
}
.category button:hover {
  border-color: #00FFF2;
  background-color: #6e1a4a;
}

.category button:active{
  background-color: #5e0136;
}

.category button:focus,
.category button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  flex-direction: row;

}

#app {
  margin: 0;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-height: 779px){
 .active  .category-nav {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 242px;
  }
}

@media screen and (max-width:  720px) {

  .category button {
    font-size: 4.5vw;
  
    }

  .category h2{
    font-size: 5.6vw;
  }

  .header{
    align-items: center;
    flex-direction: column-reverse;
  }

  .header h1{
    margin-top: 0;
    font-size: 7vw;
  }

  a{
    width: 13.8%;
  }

  .logo {
    width: 100%;
  
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
