@font-face {
  font-family: 'Tanseek';
  src: url('./assets/font/tanseek/tanseek-modern-pro-arabic-webfont.woff2') format('woff2'),
       url('./assets/font/tanseek/tanseek-modern-pro-arabic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Riffic';
  src: url('./assets/font/riffic/rifficfree-bold-webfont.woff2') format('woff2'),
       url('./assets/font/riffic/rifficfree-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/img/IRySbg.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-family: 'Riffic';
}

h2 {
  -webkit-text-stroke: 1.2px ;
  -webkit-text-stroke-color: #1a1a1a;
  font-size: 2.5em;
  font-family: 'Riffic';
}


button {
  filter: drop-shadow(0 0 0.2em #af0043);
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 0.6em;
  padding: 0.3em 0.8em;
  font-size: 1.6em;
  font-weight: 500;
  font-family: 'Tanseek';
  cursor: pointer;
  transition: border-color 0.25s;
  flex-direction: row;

  color: #ffffff;
  background-color: #af0043;
}
button:hover {
  border-color: #00FFF2;
}
button:active{
  background-color: #6e1a4a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  flex-direction: row;

}

#app {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
